<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NetWorth - Network Warmer. Connect Deeper.</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>

    <div class="landing">
       <h1>Stop collecting business cards. Start building your inner circle.</h1>
       <p>Use AI to bridge the gap between "nice to meet you" and "let's work together."</p>
       <p>Network Warmer. Connect Deeper.</p>
       <a href="/register">Get Started (It's Free)</a>
       <a href="/login">Login</a>
    
      <div class="highlights">
        <div class="highlight">
        🤝
        <h3>Warm Connections</h3>
        <p>Meet people who matter, not just collect contacts.</p>
        </div>
        <div class="highlight">
        🧠  
        <h3>Smart Profile</h3>
        <p>AI analyzes your background and suggests your best networking approach.</p>
        </div>
        <div class="highlight">
        📅  
        <h3> Event Networking</h3>
        <p>Connect before, during and after events.</p>
        </div>
        <div class="highlight">
        🔔  
        <h3>Follow-up Reminders</h3>
        <p>Never lose a connection, get reminders to follow up after meeting someone.</p>    
        </div>  
      </div>
    </div>

    
    
</body>
</html>